<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
	<connectionStrings>
		<!--等值线分析功能关系数据库配置-->
		<add name="ContourConnectionString" connectionString="Data Source=.;
			 Initial Catalog=guangxio;User Id=sa;Password=123456;Provider=SQLOLEDB"/>
	</connectionStrings>
	<appSettings>
		<!--<add key="GXSLFlexNetSql" value="Data source=192.168.22.63;initial catalog=guangxi;user id=sa;password=guest"/>-->
		<add key="GXSLSql" value="Data source=.;initial catalog=guangxi;user id=sa;password=123456"/>
	</appSettings>
</configuration>
